<header class="container-fluid top-header d-flex align-items-center">
    <div class="w-100">
        <div class="row clearfix">
            <div class="col-lg-12 ">
                    <a class="logo " href="#"><img src="assets/images/logo.png" alt=""></a>
                    <ul class="login-info">
                        <li></li>
                    </ul>
                </div> 
        </div>
    </div>
</header>
<mat-card>
    <mat-toolbar>Enter Your License</mat-toolbar>
    <table style="width:100%" cellspacing="0">
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <input matInput [(ngModel)]="licnkey.param1" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <input matInput [(ngModel)]="licnkey.param2" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <input matInput [(ngModel)]="licnkey.param3" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <input matInput [(ngModel)]="licnkey.param4" required>
                </mat-form-field>
            </td>
        </tr>
    </table>

    <mat-card-actions class="col-md-5 col-lg-6 text-right pull-right">
        <button mat-raised-button (click)="registerProduct()" color="primary">Validate License</button>
    </mat-card-actions>
</mat-card>