
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>
          <img src="./assets/logo/eazdine.jpg">
        </span>
        <span class="example-fill-remaining-space"></span>
        <span class="example-spacer"></span>

        <button mat-icon-button (click)="sidenav.open()">
          <mat-icon matBadge="10" matBadgeColor="warn">
            <i class="material-icons" >notification_important</i>
          </mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="profile">
          <mat-icon>
            <i class="material-icons">account_circle</i>
          </mat-icon>
        </button>
        <mat-menu #profile="matMenu">
          <button mat-menu-item routerLink="/admin/dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </button>

          <button mat-menu-item routerLink="/admin/content">
            <mat-icon>view_list</mat-icon>
            <span>Setup Content</span>
          </button>

          <button mat-menu-item routerLink="/admin/license">
            <mat-icon>vpn_key</mat-icon>
            <span>Setup Product License</span>
          </button>
          
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>


<router-outlet></router-outlet>