.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .example-card {
    width: 400px;
    margin: 10% auto;
  }
  .mat-card-title{
    font-size: 16px;
  }



  .divider{
    width:10px;
    height:auto;
    display:inline-block;
  }
  

  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  



  /**/

  
/**/



.example-card-notification {
  text-align: left; 
  background-color:rgb(255, 255, 255);
  margin: auto;
   
  transition: none !important;
  box-shadow: none !important;
}


.mat-card-title-notification{
  font-size: 14px;
}
.mat-card-subtitle-notification{
  font-size: 12px;
}

.ul-notification {
  list-style-type: none;
  overflow: hidden;
  background-color:white;
}

.li-a-notification {
  display: block;
  color: white;
  text-align: left;

}

.lable-property{
background-color: orange;
text-align: center;
}
.i-property{
text-decoration: underline;
color: blue;
font-size: 13px;
}


.mat-button-decline {
background-color: rgb(213, 221, 223);
text-align: center;
}


.mat-divider{
  border-width: 2px;
  border-style: solid;
}
