<header class="container-fluid top-header d-flex align-items-center">
    <div class="w-100">
        <div class="row clearfix">
            <div class="col-lg-12 ">
                <a class="logo " href="#"><img src="assets/images/logo.png" alt=""></a>
                <ul class="login-info">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="body-content">
    <div class="content-area">
        <div class="primary-action mb-3">
            <div class="row clearfix">
                <h4> Register New User </h4>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <mat-card class="example-card">
            <div class="row">
                <div class="col-md-3">
                    <div class="example-container">
                        <mat-form-field appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input matInput placeholder="User Name" [(ngModel)]="login.userName" name="login.userName"
                                required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="example-container">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" [(ngModel)]="login.password" name="login.password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="example-container">
                        <mat-select placeholder="Role" [(ngModel)]="user.role" name="user.role">
                            <mat-option *ngFor="let role of roles" [value]="role.value">
                                {{role.displayValue}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="example-container">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" [(ngModel)]="user.firstname" name="user.firstname"
                                required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="example-container">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" [(ngModel)]="user.lastname" name="user.lastname"
                                required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="example-container">
                        <mat-form-field appearance="outline">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput placeholder="Last Name" [(ngModel)]="user.mobileno" name="user.mobileno"
                                required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="example-container">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Last Name" [(ngModel)]="user.email" name="user.email" required>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-6 text-right pull-right">
                <button type="button" class="btn btn-warning" mat-raised-button (click)="confirmRegisterUser()">
                    Confirm Register</button>
            </div>
        </mat-card>
    </div>

</div>