<div>
    <h2 mat-dialog-title>
        <strong>{{operationType}} Chapter Details</strong>
    </h2>
</div>
<div class="example-card">
    <form class="example-form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control" (change)="onClassChange($event.target.value)" [value]="className">
                        <option value="">Select Class</option>
                        <option *ngFor="let class of classList">{{class.displayName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control" (change)="onSubjectChange($event.target.value)" [value]="subjectName">
                        <option value="">Select Subject</option>
                        <option *ngFor="let subject of subjectList">{{subject.displayName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Chapter Name</mat-label>
                <input matInput placeholder="Chapter Name" [(ngModel)]="chapterSetup.displayName" name="displayName"
                    required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" [(ngModel)]="chapterSetup.description" name="description"
                    required></textarea>
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="host-table-header">
            <button id="updateBtn" mat-raised-button color="primary" (click)="saveChapter()">{{operationType}}</button>
            <div class="divider"></div>
            <button class="noThanksBtn" mat-raised-button (click)="onNoClick()">NO Thanks</button>
        </div>
    </form>
</div>