<section class="search-container inner d-flex align-items-center" [ngStyle]="{background: 'url(./assets/images/home-banner_1.jpg) left bottom no-repeat'}">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="home-search inner-search pt-3">
          <div class="d-flex justify-content-center">
            <div class="row">
              <div class="col-md-3 form-group">
                <label>Class</label>
                <input type="text" placeholder="Select or type a class" class="form-control" list="classList"
                  [(ngModel)]="classdisplayName" (change)="onClassChange(classdisplayName)" />
                <i class="fas fa-times search-icon" (click)="classClear()"></i>
                <datalist id="classList">
                  <option *ngFor="let classDetail of classList" [value]="classDetail.displayName">{{classDetail?.displayName}}</option>
                </datalist>
              </div>
              <div class="col-md-3 form-group">
                <label>Subject</label>
                <input type="text" placeholder="Select or type a subject" class="form-control" list="classSubjectList"
                  [(ngModel)]="subjectdisplayName" (change)="onSubjectChange(subjectdisplayName)" />
                <i class="fas fa-times search-icon" (click)="subjectClear()"></i>
                <datalist id="classSubjectList">
                  <option *ngFor="let classSubject of classSubjectList" [value]="classSubject.displayName">{{classSubject?.displayName}}</option>
                </datalist>
              </div>
              <div class="col-md-3 form-group">
                <label>Chapter</label>
                <input type="text" placeholder="Select or type a Chapter" class="form-control" list="chapterList"
                  [(ngModel)]="chapterdisplayName" (change)="onChapterChange(chapterdisplayName)" />
                <i class="fas fa-times search-icon" (click)="chapterClear()"></i>
                <datalist id="chapterList">
                  <option *ngFor="let chapter of chapterList" [value]="chapter.displayName">{{chapter?.displayName}}</option>
                </datalist>
              </div>
              <div class="col-md-2 form-group">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-search search-btn" (click)="searchTopicDetails()">Search</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <nav aria-label="breadcrumb" class="col-md-12">
      <ol class="breadcrumb pl-0">
        <li class="breadcrumb-item"><a (click)="goToHome()" style="cursor:pointer">Home</a></li>
        <li class="breadcrumb-item" *ngIf="displayView=='SUBJECT' || displayView=='CLASS' || displayView=='TOPIC' || displayView=='CHAPTER'"><a
            (click)="onClassChange(classdisplayName)" style="cursor:pointer">Class({{classdisplayName}})</a></li>
        <li class="breadcrumb-item" *ngIf="displayView=='TOPIC' || displayView=='SUBJECT' || displayView=='CHAPTER'"><a
            (click)="onSubjectChange(subjectdisplayName)" style="cursor:pointer">Subject({{subjectdisplayName}})</a></li>
        <li class="breadcrumb-item" *ngIf="displayView=='TOPIC' || displayView=='CHAPTER'"><a (click)="onChapterChange(chapterdisplayName)"
            style="cursor:pointer">Chapter({{chapterdisplayName}})</a></li>
      </ol>
    </nav>
  </div>
  <section class="container">
    <mat-tab-group>
      <mat-tab label="MCQ">
        <mat-horizontal-stepper #stepper color="primary" [linear]="isLinear">
          <mat-step *ngFor="let question of questionList | slice:0:1" [completed]="false">
            <div class="row">
              <h6 color="blue"><b>{{question.question}}?</b></h6>
              <div class="col-md-8">
                <mat-radio-group [(ngModel)]="selectedOpt" class="example-radio-group">
                  <div *ngFor="let opt of question.option" class="col-md-10">
                    <mat-radio-button class="example-radio-button" [value]="opt" (change)="onChangeQusetionOption($event,question)"><strong>{{opt}}</strong></mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
              <div class="col-md-4">
                <div *ngIf="question.ansflag=='C'"> <img src="assets/images/correctans.gif" /></div>
                <div *ngIf="question.ansflag=='W'"> <img src="assets/images/wrongans.gif" /></div>
                <div *ngIf="question.ansflag=='N'"></div>
              </div>
            </div>
            <div class="example-button-row pull-right">
              <button mat-raised-button (click)="viewCorrectAnswer(question)" color="accent">View Answer</button>
              <button mat-raised-button matStepperNext (click)="resetQuestionAnswer(question)" color="warn">Next</button>
            </div>

          </mat-step>
          <mat-step *ngFor="let mquestion of questionList | slice:1:questionList.length-1" [completed]="false">
            <div class="row">
              <h6 color="blue"><b>{{mquestion.question}}?</b></h6>
              <div class="col-md-8">
                <mat-radio-group [(ngModel)]="selectedOpt" class="example-radio-group">
                  <div *ngFor="let opt of mquestion.option" class="col-md-10">
                    <mat-radio-button class="example-radio-button" [value]="opt" (change)="onChangeQusetionOption($event,mquestion)"><strong>{{opt}}</strong></mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
              <div class="col-md-4">
                <div *ngIf="mquestion.ansflag=='C'"> <img src="assets/images/correctans.gif" /></div>
                <div *ngIf="mquestion.ansflag=='W'"> <img src="assets/images/wrongans.gif" /></div>
                <div *ngIf="mquestion.ansflag=='N'"></div>
              </div>
            </div>
            <div class="example-button-row pull-right">
              <button mat-raised-button (click)="viewCorrectAnswer(mquestion)" color="accent">View Answer</button>
              <button mat-raised-button matStepperPrevious (click)="resetQuestionAnswer(mquestion)" color="warn">Back</button>
              <button mat-raised-button matStepperNext (click)="resetQuestionAnswer(mquestion)" color="warn">Next</button>
            </div>
          </mat-step>
          <mat-step *ngFor="let lquestion of questionList | slice:questionList.length-1:questionList.length"
            [completed]="false">
            <div class="row">
              <h6 color="blue"><b>{{lquestion.question}}?</b></h6>
              <div class="col-md-8">
                <mat-radio-group [(ngModel)]="selectedOpt" class="example-radio-group">
                  <div *ngFor="let opt of lquestion.option" class="col-md-10">
                    <mat-radio-button class="example-radio-button" [value]="opt" (change)="onChangeQusetionOption($event,lquestion)"><strong>{{opt}}</strong>
                    </mat-radio-button>
                  </div>

                </mat-radio-group>
              </div>
              <div class="col-md-4">
                <div *ngIf="lquestion.ansflag=='C'"> <img src="assets/images/correctans.gif" /></div>
                <div *ngIf="lquestion.ansflag=='W'"> <img src="assets/images/wrongans.gif" /></div>
                <div *ngIf="lquestion.ansflag=='N'"></div>
              </div>
            </div>
            <div class="example-button-row pull-right">
              <button mat-raised-button (click)="viewCorrectAnswer(lquestion)" color="accent">View Answer</button>
              <button mat-raised-button matStepperPrevious (click)="resetQuestionAnswer(lquestion)" color="warn">Back</button>
              <button mat-raised-button (click)="stepper.reset()" (click)="resetQuestionAnswer(lquestion)" color="warn">Reset</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-tab>
      <mat-tab label="Previous Year">
      
          <div class="col-md-3" *ngFor="let pdf of pdfList">
            <button mat-raised-button (click)="viewPDFDocument(pdf)" color="accent">{{pdf.name}}</button>
          </div>

          <ngx-extended-pdf-viewer *ngIf="displayPDF" [src]="pdfsrc" useBrowserLocale="true" [delayFirstView]="1000"
            [showHandToolButton]="true" [handTool]=false> </ngx-extended-pdf-viewer>
        
      </mat-tab>
    </mat-tab-group>
  </section>
</section>