@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
 @charset "utf-8";
/* CSS Document */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix::after,.clearfix:after{clear:both;content:" ";visibility:hidden}
a { border:0; outline:none; -webkit-transition: all 200s ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; color:#1b1b1b; text-decoration:none; }
a:hover, a:focus{text-decoration:none; color:#0174e7;  outline-style: none;}
img{max-width:100%;}
html {
	height: 100%;
}
body  {
	-ms-overflow-style: scrollbar;
    padding: 0;
    margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:22px;
	background-color: #eaeff4; 
	height: 100%;
}

p{color:#727272;}
a{
	text-decoration:none;
}  
.top-header{ background:#fff; height:74px;  }
.login-info{ float:right; list-style-type:none; margin:12px 0 0; padding:0;}
.login-info li{margin-left:25px; display:inline-block; font-size:12px;}
.login-info li a{font-size:20px;}

.info{color:#fdb812;}
.search-container{ padding:21px 0 70px 0;}
.search-container.inner{padding:10px 0 30px 0;}

.home-search{ }
.p-home-search  .form-control{background:rgba(255,255,255,.7); height:35px; border:0; color:#494949; font-size:16px;}
.home-search  .form-control{background:rgba(255,255,255,.7); height:65px; border:0; color:#494949; font-size:18px;}
.home-search label, .p-home-search label{color:#fff; font-size:16px; font-weight:500;}
.home-search h3, .p-home-search h3{color:#fff; font-size:20px; text-align:center; margin-bottom:40px;}
.home-search .row, .p-home-search .row{width:100%}

.btn-search{background:#ED683D; color:#fff;  padding:0  50px; font-size:18px; height:64px; line-height:64px; text-transform:uppercase;position: absolute;
	left: 50%; transform: translateX(-50%); bottom:-90px;}
	.p-btn-search {
		background: #ED683D;
		color: #fff;
		padding: 0 50px;
		font-size: 16px;
		height: 40px;
		line-height: 40px;
		text-transform: uppercase;	
	}
.inner-search  .btn-search{position:static; transform:inherit;height:55px;line-height:55px;}
.inner-search .form-control{height:55px;}
.inner-search label{display:block;}
.btn-search i{margin-right:15px;}
.user-details{background:#f3f7ff; border:1px dashed #929292; border-radius:5px;
	 margin-left:0px; position:relative;
	 text-align: left!important;}
.user-av{width:65px; height:65px; border-radius:50%; background:#fff; overflow:hidden; display:block; margin:0 auto;}
.user-details p, .user-details strong, .user-details small{display:block; color:#5c5c5c;	}
.user-details strong { 
	font-size: 17px;
	margin: 0px 0 0px 0;
}
.email {
	margin: 0;
}
.contact {
	margin-bottom: 5px;
}
.role-head {
	font-weight: 600;
    display: inline-block!important;
    font-size: 16px!important;
}
.role {
	display: inline-block!important;
    font-size: 15px!important;
    margin: 0 10px 0;
    text-transform: capitalize;
}
.user-details small{font-size:14px;}
.user-details p{font-size:14px; font-weight:400;}

.edit-info{position:absolute; right:15px; top:15px; width:40px; height:36px;border:1px solid #d6d6d6; color:#002C58; border-radius:5px; background:#fff;}

.small-title{color:#232323; font-size:20px; font-weight:500;}
.result-list .card-body{padding-bottom:0}
.result-list .card-header{background:#fff;  color:#002C58; padding-left:12px; font-size:15px; font-weight:400; position:relative}


.card-body ol{padding:0 5px; margin-bottom:0}
.card-body ol li{float:left; margin-right:40px; margin-bottom:12px; font-weight:400}
.card-body ol li a{color:#252525}
.action{position:absolute; right:15px; top:15px;}
.action a{margin-left:20px; font-size:18px;color:#002C58;}
.action a.active{color:#ff50d6;}

.load-more{ float:right; margin-top:15px; text-decoration:underline;}
.load-more:hover, .load-more:focus{color:#002C58;}

.recent-search{margin-bottom:30px; margin-top:0px;}

.card {
	max-height: 190px;
    min-height: 190px;
}
.card-text {
	font-size: 15px;
}
.card-footer{background:#fff;  color:#002C58; padding:15px; font-size:15px; font-weight:400; position:relative}

.card-left, .card-right {
    display: table-cell;
    vertical-align: top;
}

.card-left-img {
    max-width: 100px;
    background: #ffefeb;
    border: 1px solid #e2e2e2;
    padding:1px;
    text-align: center;
	margin-right: 10px;
}

.card-body h3 {
	font-size:18px;
}

.card-left {
padding-right: 15px;
}

.card-border {
    border: 1.5px solid rgba(0,0,0,.125);
}

.like-icons a {
	display: inline-block;
	margin-right: 10px;
}

.like-1 .fa-thumbs-up{
	color: darkblue;
	font-size: 18px;
}

.content-area .col-md-4, .content-area .col-md-6, .content-area .col-md-3, .content-area .col-md-2{
	padding-bottom: 15px;
}

.footer-container .container, .footer-container .container-fluid{border-top:1px solid #d5d5d5; padding-bottom:0; padding-top:15px;}
.footer-container .form-control{background:none; width:150px; border:0; padding:0; height:auto;font-size:12px;}
.footer-container .form-control:focus, .footer-container .form-control:focus{box-shadow:none;}
.footer-container a{font-weight:500;}
.footer-container p{font-size:12px;}

.topics h4{font-size:18px;color:#002C58; font-weight:400}
.logo {float:left; width:205px;}

.search{float:left; margin-left:30px; margin-top:8px; width:50%}
.search input[type='text']{ border:0; background:none; width:80%; font-size:15px; color:#BDBDBD}
.search i{margin-right:5px; color:#002C58;}



.left-menu{width:220px; float:left; background:#fff; height: 100%;}
.body-content{margin-left:219px;}

.select-class{background:#003c78; padding:20px;}
.select-class label{color:#fff; font-size:13px;}
.select-class select.form-control{background:#99b1c9; height:32px; font-size:14px;}


.class-list{margin:0; padding:0; list-style-type:none;}
.class-list li{}
.class-list li i{margin-right:10px;}
.class-list li:first-child a{background-image:url(/assets/images/agenda.png) !important; }
.class-list li:first-child a:hover{background-image:url(/assets/images/agenda.png) !important; }
.class-list li a{display:block; width:100%; min-height:50px;  padding:0 20px; font-size:15px; background-image:url(/assets/images/color.png) !important;     background-repeat: no-repeat !important; background-position: 20px 15px !important; padding-left:55px;}
.class-list li a.green{ background:#c0f2d9;color:#005F34;}
.class-list li a.org{background:#edead6;color:#6d5514;}
.class-list li a.red{background:#fd1746; color:#fff;}

.class-list li a.pink{background:#dcd2f5;color:#59005f;}
.class-list li a.sky{background:#cedff5;color:#2c435e;}
.class-list li a.org2{background:#ecdddb;color:#514144;}
.class-list li a.yellow{background:#e0f3ff;color:#002960;}
.class-list li a:hover, .class-list li a:focus{background:#fd1746; color:#fff;  background-image:url(/assets/images/color-1.png) !important;}


.breadcrumb{  margin-bottom:0; background:none;}
.breadcrumb-item+.breadcrumb-item::before{    content: ">"; }
.breadcrumb li{font-size:12px; color:#000;}
.breadcrumb li a{ color:#BDBDBD;}



.primary-action .btn{border-color:#000;}

.mid-tittle{font-size:20px;color:#002C58; margin-bottom:0;}

.lesson-list{box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2); background:#fff; padding:20px;}

.panel{border:1px solid #dddddd; margin-bottom:10px;}
.panel-title{margin-bottom:0; position:relative;}
.panel-heading h4 { font-weight:500 !important;}
.panel-heading{position:relative}
.panel-heading .action{top:9px;}
.panel-heading .action .fa-heart{color:#5a4c4c;}
.panel-title>a{padding:14px 20px;}
.panel-title>a, .panel-title>a:active{display:block; color:#002C58; font-size:15px; }
.panel-heading.active{background:#fef9eb;border-bottom:1px solid #dddddd; }
.panel-title  a:before {  font-family: "Font Awesome 5 Free";  content: "\f105"; font-weight:bold;  float: left; margin-right:15px; transition: all 0.5s;}
.panel-heading.active a:before {-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);transform: rotate(90deg);} 
.panel-body{padding:20px;}

.list-item{margin:0; padding:0; list-style-type:none;}
.list-item li {margin-bottom:10px; font-size:16px; color:#252525; }
.list-item li  span{position:relative;  padding-right:30px;}
.wish{position: absolute;
    right: 0;
    top: 0;}
.list-item li i{margin-right:10px;}
.list-item li i.active{color:#ff50d6; margin-left:10px;}

.add-topic  .form-group label{color:#1428A0; font-size:12px; text-transform:uppercase; font-weight:400;}
.add-topic  .form-group  .form-control{color:#9D9D9D; border-color:#9D9D9D}

.btn-save{background:#FDB812; color:#252525;  padding:5px 25px; font-size:14px; border-color:#252525; text-transform:uppercase}
.btn-can{background:none; color:#999999;  padding:5px 25px; font-size:14px; border-color:#999999; text-transform:uppercase}

.add-more{border:1px solid #D3D3D3; color:#252525; font-size:13px;}


.class-box{background:#fff; border:1px solid #DDDDDD; -webkit-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.2); -moz-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.2);
box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.2); text-align:center; margin-bottom:30px; display:block}
.class-box img{}
.class-box span{ display:block; background:rgba(0, 0, 0, .67); font-size:18px; color:#fff;  padding:10px;}
.class-box p span{ display:inline-block; background:none; font-size:16px; color:#252525; font-weight:500;}

.video-text{font-size:16px; color:#252525; font-weight:500; padding:15px 0 0}
.video-text .fa-video{color:#FD1746; margin-right:5px;}

.class-edit .fa-plus{ color:#00b30e}
.class-edit .fas {font-size:16px;}

.all-cls{color:#232323; font-size:20px;}
.btn-class .btn{border-color:#848484; color:#00b30e; font-size:14px; background:#fff; padding: 8px 15px; margin-left: 10px;}
.class-edit{padding:0; margin:0; list-style-type:none; padding:5px 0; border-top:1px solid #DDDDDD;}
.class-edit li{display:inline-block; width:32%; text-align:center; vertical-align:middle; }
.class-edit li a{font-size:24px; display:block; padding:10px 0}
.class-edit li:nth-child(2){border-left:1px solid #ddd; border-right:1px solid #ddd;}
.card-image {margin-top:15px; height:130px;}



/* TABLET LAYOUT (LANDSCAPE/992PX) ----------------------------------------------- */
@media only screen and (min-width: 992px) and (max-width: 1279px) {
	 
}

/* TABLET LAYOUT (PORTRAIT/768PX) ----------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	 
}


/* MOBILE LAYOUT (PORTRAIT/320PX) ----------------------------------------------- */
@media only screen and (max-width: 767px) { 
	.home-search{margin-right:0} 
	.user-details{margin-left:0; margin-top:15px;}
	.btn-search{ }
	.result-list.odd, .mb-15{margin-top:15px;}
	.footer-container .form-control{width:100%; background:#ccc; padding:5px;}
	.footer-container p{text-align:center; margin-top:15px;}
	.search-container{background:#000;}
}	 
.search-icon {
	float: right;
    position: relative;
    bottom: 41px;
    right: 35px;
 }
 .mat-dialog-container {
	 padding: 15px;
 }
 table {
	 width: 100%;
 }
 thead {
	font-weight: 600;
    font-size: 16px;
	color: #101010;
	border-bottom: 1px solid #ddd;
 }
 tr {
	border-bottom: 1px solid #ddd;
 }
 .tabled {
	 height: 100%;
 }
 small {
	 font-size: 13px;
 }