.container-fluid {
    padding-left: 22px;
    padding-right: 22px;
  }
  
  .white-bg {
    position: relative;
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  .example-header-image {
    background-image: url('/assets/images/profile.png');
    background-size: cover;
  }
  
  .wh-bg {
    background: #fff;
  }
  
  
  
  
  .custom-table .icons {
    display: none;
  }
  
  .input-table .form-control {
    border: 1px solid #787878;
  }
  
  .input-table {
    text-align: center;
  }
  
  .add-menu {
    margin-bottom: 20px;
  }
  
  .add-menu h4 {
    float: left;
    margin: 0
  }
  
  .padd-15 {
    padding: 20px;
  }
  
  .media-heading {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .account {
    margin-bottom: 20px !important;
    min-height: 200px;
  }
  
  .addresses,
  .cardDetails,
  .favouriteList,
  .topRestaurant,
  .history {
    min-height: 200px;
  }
  
  /* .cards,
  .favouriteFrnds {
    margin: 0 !important;
  } */
  
  .book-tables {
    border: 1px solid #e2e2e2;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  .book-tables .table-code {
    min-width: 85px;
    background: #ffefeb;
    border: 1px solid #e2e2e2;
    padding: 10px;
    text-align: center;
  }
  
  .book-tables .table-code small {
    color: #000;
  }
  
  .book-tables .table-code strong {
    font-size: 20px;
    color: #000;
  }
  
  .book-tables .media-heading {
    font-size: 18px;
    font-weight: 400
  }
  
  .book-tables .media-heading span,
  .book-tables .media-body p strong {
    color: #000;
    font-weight: 600
  }
  
  .book-tables .media-body p {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .book-tables .media-body p span.cl-org {
    color: #f18b76;
  }
  
  .book-tables ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
    border-top: 1px solid #e2e2e2;
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 0;
  }
  
  .book-tables ul li {
    display: inline-block;
    color: #333;
    margin-right: 25px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .book-tables ul li:last-child {
    margin-right: 0;
  }
  
  /* Open Table */
  .employee-role {
    text-align: center;
    margin-top: 16px;
  }
  
  .mat-stroked-button {
    border-color: #fff !important;
    width: 100%;
  }
  
  .mat-fab.mat-accent,
  .mat-flat-button.mat-accent,
  .mat-mini-fab.mat-accent,
  .mat-raised-button.mat-accent {
    background-color: #fff !important;
    border: 1px solid #fc8019 !important;
    color: #fc8019;
  }
  
  .mat-mini-fab {
    box-shadow: none;
  }
  
  #photoSelector {
    margin: 0 10px;
  }
  
  .addressDetail {
    font-size: 15px !important;
    margin: 0;
    display: inline-block;
  }
  
  #addressSpan {
    font-size: 16px;
    color: gray;
    font-weight: 600;
    margin-right: 10px;
  }
  
  .paymentCard {
    background-color: #d8d6d6;
    margin: 10px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-height: 115px;
  }
  
  .frnds {
    margin: 10px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-height: 110px;
    max-width: 240px;
    padding: 15px;
    width: 220px;
    height: 150px;
  }
  
  .frndsName {
    font-size: 15px !important;
    padding-bottom: 20px;
  }
  
  .searchedFav {
    min-width: 225px;
  }
  
  .callIcon {
    margin-right: 5px;
  }
  
  .callIcon i {
    position: relative;
    top: 4px;
    right: 0px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 18px;
    padding: 3px;
  }
  
  .borderBtm {
    border-bottom: 1px solid lightgray;
  }
  
  /* .favIcon {
    position: relative;
    top: 8px;
    left: 10px;
  } */
  .map {
    margin-bottom: 5px;
  }
  
  .seprateAddress {
    padding: 15px;
    background: #eae7e7;
    border-radius: 3px;
    margin: 15px 0 0px 0;
  }
  
  #deleteIcon,
  #editIcon {
    margin-top: 10px;
  }
  
  #cardNumber {
    margin-top: 15px;
    margin-bottom: 55px;
  }
  
  #unVerifiedLink {
    position: relative;
    left: 15px;
  
  }
  
  #unVerifiedLink:hover {
    text-decoration: underline;
  }
  
  #verifiedLink {
    position: relative;
    left: 15px;
    top: 5px;
    color: #5a9a68;
  }
  
  #verifiedLink:hover {
    text-decoration: none;
  }
  
  mat-panel-title {
    font-weight: 600;
    margin: 0;
  }
  
  mat-panel-title i {
    margin-right: 10px;
    color: #6f6b6b;
  }
  
  mat-expansion-panel-header {
    border-bottom: 1px solid #e2e2e2;
    padding: 0 15px 0 10px !important;
  }
  
  .desc {
    font-size: 13px;
    position: relative;
    top: 3px;
    right: 5px;
  }
  
  .listItems {
    padding: 0;
  }
  
  .listItems li {
    margin: 15px 0;
    padding-left: 33px;
  }
  
  .listItems a {
    color: gray;
  }
  
  .listItems a:hover {
    color: #fc8019 !important;
    text-decoration: none;
  }
  
  .marked {
    color: #fc8019 !important;
  }
  
  .unmarked {
    color: gray !important;
  }
  
  .addBtn,
  .addCardBtn {
    border: 1px solid;
    padding: 2px 15px;
    border-radius: 2px;
    margin-right: 8px;
    /* position: relative;
    bottom: 5px; */
    color: #317d31;
    font-size: 16px;
  }
  
  .addCardBtn {
    position: relative;
    bottom: 0;
  }
  
  .addCardBtn span {
    color: #317d31 !important;
    font-weight: 500 !important;
  }
  
  .glyphicon-plus-sign {
    position: relative;
    right: 5px;
    top: 2px;
  }
  
  .searh-field {
    height: 30px;
    width: 275px;
    font-size: 14px;
    padding: 0 25px 0 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
  }
  
  .searchIcon {
    position: relative;
    right: 27px;
    top: 1px;
  }
  
  .filterBtn {
    position: relative;
    right: 25px;
    font-size: 15px;
  }
  
  .filterBtn i {
    position: absolute;
    bottom: -4px;
  }
  
  .filterBtn span {
    color: gray;
  }
  
  .filterBtn a {
    margin: 0;
  }
  
  .order-history {
    border: 1px solid lightgray;
    margin-bottom: 25px;
  }
  
  .history-head {
    padding: 10px 15px;
    background: #f7f7f7;
    /* #e8e8e8; */
    border-bottom: 1px solid lightgray;
  }
  
  .history-body {
    padding: 10px 15px;
  }
  
  .history-body .media-heading {
    font-size: 15px;
    margin: 0;
  }
  
  .rateLink {
    float: right;
  }
  
  .rateLink i {
    position: relative;
    top: 5px;
  }
  
  .rest-card-avatar {
    height: 60px;
    width: 65px;
  }
  
  .addressLine,
  .hostedLine {
    color: #a9a8a8;
    margin: 0;
  }
  
  .hostedLine {
    margin-top: 5px;
  }
  
  .addressLine i {
    font-size: 17px;
    position: relative;
    top: 3px;
    right: 2px;
    color: #fc8019;
  }
  
  .hostOrderLink a {
    padding: 12px 15px;
    border-left: 1px solid lightgray;
  }
  
  .history-foot {
    border-top: 1px solid lightgray;
    padding: 5px 15px;
    height: 50px;
  }
  
  .history-foot span {
    color: gray;
  }
  
  .history-foot p {
    display: inline;
    color: #3a3838;
  }
  
  .overflow {
    overflow: inherit;
  }
  
  .contact {
    font-size: 14px;
    height: 35px;
  }
  
  .contact h5 {
    display: inline-block;
  
  }
  
  .footerLink {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .inviteLink {
    font-size: 14px;
  }
  
  .alterEmail {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }
  
  .rightLinks {
    float: right;
  }
  
  /* TABLET LAYOUT (LANDSCAPE/992PX) 
  ----------------------------------------------- */
  @media only screen and (min-width: 992px) and (max-width: 1279px) {}
  
  /* TABLET LAYOUT (PORTRAIT/768PX) 
  ----------------------------------------------- */
  @media only screen and (min-width: 768px) and (max-width: 991px) {}
  
  
  /* MOBILE LAYOUT (PORTRAIT/320PX) 
  ----------------------------------------------- */
  @media only screen and (max-width: 767px) {}
  
  @media only screen and (orientation: landscape) {
    .form-inner .form-control {
      width: 70%
    }
  }
  
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }
  
  .person-card-avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  
  }
  
  .bigPicture {
    height: 130px;
    width: 130px;
    border-radius: 2px;
  
  }
  
  agm-map {
    height: 201px;
  }
  
  /* -------------History modal------------- */
  
  .closeBtn {
    float: right;
    color: #fc8019;
  }
  
  .panel>.panel-heading {
    background-image: none;
    background-color: #333;
    color: white;
  }
  
  .panel-default>.panel-heading-custom {
    background: #fc8019;
    color: #fff;
  }
  
  .panel-info {
    border: 0;
  }
  
/* Open Table */

.action-link {
  display: inline-block;
  padding: 6px 15px 5px;
  background: #fff;
  margin-left: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  cursor: pointer;
}

.action-link .txt {
  padding-left: 5px;
}
.example-full-width {
  width: 100%;
  }
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.right-btn {
  padding: 5px;
}
.wh-bg {
  background: #fff;
}

.margin-padding {
  margin: 20px 50px;
  padding: 15px;
}

.nav-tabs {
  width: 100%;
  margin-bottom: 25px;
}

.div:empty{
  display: none
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 10px 30px;
  color: #999;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border: 0;
  border-bottom: 3px solid #f7941d;
  color: #333;
}

.nav-tabs>li>a h3.mat-line {
  font-size: 18px;
}

.nav-tabs>li>a span.mat-line {
  font-size: 12px;
}

.mat-raised-button.mat-primary {
  border: 1px solid #f7941d;
  color: #ffffff;
  padding: 0 10px;
  line-height: 36px;
  margin-right: 10px;
  margin-left: 10px;
}

.search-input {
  width: 401px;
  height: 35px;
  padding: 5px 35px 5px 15px;
  border-radius: 2px;
  border: 1px solid lightgray;
  background: gainsboro;
}

.search-box i {
  position: relative;
  right: 30px;
  top: 8px;
  color: gray;
}

.cancelBtn {
  border: 1px solid;
  border-radius: 3px;
}

.doneBtn {
  margin-left: 10px;
  color: #fff;
  background: #f7941d;
  border: 1px solid #f7941d;
  border-radius: 3px;
}

.inviteBtn {
  color: #82ca24;
  border: 1px solid #a7a1a1;
}

.reinviteBtn {
  color: #fff;
  background: #82ca24;
  border-radius: 3px;
  border: 1px solid;
}

.table-cell {
  display: table-cell;
}

.user-box {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 15px;
}

.checkIcon {
  font-size: 14px;
  margin-right: 5px;
}

.default-txt {
  text-align: center;
  padding: 30px;
}
