<section class="search-container d-flex align-items-center">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-7">
        <div class="home-search pt-3">
          <form>
            <div class="form-group mb-4">
              <label for="exampleInputEmail1">Select  Class</label>
              <select class="form-control">
                <option value="">Select</option>
                <option [value]="classSetup.displayName" *ngFor="let class of classList">{{class.displayName}}</option>
              </select>
            </div>
            <div class="form-group mb-4">
              <label for="exampleInputEmail1">Select Subject</label>
              <select class="form-control">
                <option value="">Select</option>
                <option [value]="subjectSetup.displayName" *ngFor="let subejct of classSubjectList">{{subejct.displayName}}</option>
              </select>
            </div>
            <div class="form-group mb-4">
              <label for="exampleInputEmail1">Select Chapter</label>
              <select class="form-control">
                <option value="">Select</option>
                <option [value]="chapter.displayName" *ngFor="let chapter of chapterList">{{chapter.displayName}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-search">
              <i class="fas fa-search"></i> Search</button>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="user-details p-3 text-center">
          <a class="edit-info d-flex align-items-center justify-content-center" href="#">
            <i class="material-icons">edit</i>
          </a>
          <span class="user-av d-flex align-items-center justify-content-center">
            <img src="assets/images/user.png" alt="">
          </span>
          <strong>{{user.firstname}} {{user.lastname}}</strong>
          <small>Role</small>
          <p>{{user.role}}</p>
          <small>Email</small>
          <p>{{user.email}}</p>
          <small>Mobile Number</small>
          <p>{{user.mobileno}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mt-4 recent-search">
  <h3 class="small-title mb-3">Your Favorties</h3>
  <div class="row clearfix">
    <div class="col-md-6">
      <div class="card result-list">
        <div class="card-header">
          Standard 1
          <div class="action">
            <a href="#">
              <i class="far fa-heart"></i>
            </a>
            <a href="#">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </div>
        </div>
        <div class="card-body ">
          <ol>
            <li>EVS/Science</li>
            <li>Maths</li>
            <li>English</li>
            <li>Hindi</li>
            <li>Region</li>
            <li>International English</li>
            <li>English Grammer</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card result-list">
        <div class="card-header">
          Standard 2
          <div class="action">
            <a href="#" class="active">
              <i class="fas fa-heart"></i>
            </a>
            <a href="#">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </div>
        </div>
        <div class="card-body ">
          <ol>
            <li>EVS/Science</li>
            <li>Maths</li>
            <li>English</li>
            <li>Hindi</li>
            <li>Region</li>
            <li>International English</li>
            <li>English Grammer</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="load-more">Load More</a>
</div>