<hr style="height:10px;border:none;color:#ffffff0f;background-color:#ffffff0f;">
<div class="row">
<div class="col-md-4">
  <mat-card>
    <button mat-fab color="primary" class="pull-right" matTooltip="Edit"> <mat-icon>edit</mat-icon></button>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><Strong> Sudhanshu Lenka</Strong></mat-card-title>
      <mat-card-subtitle>
          <div class="button-row">
              <button mat-icon-button>
                  <mat-icon color="primary">phone</mat-icon> <strong> +91-7057014118 </strong>
              </button>
           </div>   
           <div class="button-row">
              <button mat-icon-button>
                  <mat-icon color="primary">email</mat-icon>  <strong>info@logicqsoftsol.com</strong>
              </button>
           </div>   
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-icon matSuffix>my_location</mat-icon>
          <textarea matInput placeholder="Location Details" disabled></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="col-md-4">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><strong>About Me</strong></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Edit</button>
        </mat-card-actions>
      </mat-card>
</div>
<div class="col-md-4">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><strong>Contact Details</strong></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Edit</button>
        </mat-card-actions>
      </mat-card>
</div>
</div>
<hr style="height:5px;border:none;color:#ffffff0f;background-color:#ffffff0f;">
<mat-card>
    <mat-toolbar>
      <h2>
        <strong>Activity Details</strong>
      </h2>
    </mat-toolbar>
  
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Activites">
    </mat-form-field>
    <div class="example-container">
      <!-- <mat-table #table [dataSource]="classDetailList"> -->
      <table mat-table [dataSource]="activityDetailsList" matSort>
  
        <ng-container matColumnDef="activityId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <strong>ID</strong>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.activityId}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="activityName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <strong>Name</strong>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.activityName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="activityType">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <strong>Type</strong>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.activityType}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="activitystartTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <strong>Start Time</strong>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.activitystartTime}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="activityEndTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>End Time</strong>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.activityEndTime}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="activityStatus">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Status</strong>
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.activityStatus}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="activityDetails">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <strong>Description</strong>
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.activityDetails}} </mat-cell>
              </ng-container>
        <mat-header-row *matHeaderRowDef="activityColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: activityColumns;"></mat-row>
  
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card>
