html,
body {
  height: 100%;
  background-color: #f1f1f1;
}

body {
  font-family: 'Rubik', sans-serif, Arial;
}

a {
  color: #f7941d;
  cursor: pointer;
}

.container {
  max-width: 100%;
}

.no-padding {
  padding: 0%;
}

.top-spacing {
  padding-top: 86px;
}

.navbar {
  height: 74px;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}


.sidenavR.open-nav {
  width: 30%;
}

.sidenavR.close-nav {
  width: 0%;
}

.bg-dark,
.navbar-default {
  /*background-color: linear-gradient(to left, #ffc515, #bf2500);*/
  background-color: #ffffff;

}

.navbar-inverse .navbar-nav>li>a {
  color: #f7941d;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #f7941d;
  color: #bf2500;
}


.navbar-nav>li>a {
  color: #444444;
  font-size: 15px;
  line-height: 44px;
  cursor: pointer;
}

.navbar-nav>li>a .glyphicon {
  color: #5f5f5f;

}

.user-name {
  display: inline-block;
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.user-link.navbar-nav>li>a {
  padding-left: 25px;
  padding-right: 25px;
}

.user-link.navbar-nav>li {
  margin-left: 10px;
  margin-right: 10px;
}

.user-link.navbar-nav>li>a .glyphicon {
  position: absolute;
  top: 30px;
  left: 0;

}

.navbar-nav>li>a:hover,
.navbar-nav>li>a .glyphicon:hover {
  color: #f7941d !important;
}

.btn-border {
  border: 1px solid #dcdcdc;
  font-size: 14px;
  border-radius: 3px;
  display: inline-block;
  padding: 0 25px;
  line-height: 34px;
  color: #000000;
}

.btn-border:hover {
  border: 1px solid #f7941d;
  background-color: #f7941d;
  color: #ffffff;
}

.mat-raised-button {
  box-shadow: none !important;
  border-radius: 0;
  font-size: 14px !important;
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #f7941d !important;
}

.mat-raised-button.mat-primary {
  border: 1px solid #ddd;
}


.top-noti {
  margin-top: 10px;
}

.navbar-brand {
  float: left;
  height: 70px;
  padding: 0 15px;
  font-size: 18px;
  line-height: 70px;
}

.navbar-brand img {
  width: 74px;
  height: 70px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #333;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}

/*Right Slider Bar */

.sidenavR {
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .50);
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: .5s;
  width: 0;
  z-index: 1;
}

.user-icon {
  padding-top: 60px !important;
  background-color: #f39c12 !important;
  border-top: 1px solid #dddddd;


}

.sidenav a,
.sidenavR a {
  color: #818181 !important;
  display: block;
  font-size: 18px;
  padding: 10px 8px 10px 40px;
  text-decoration: none;
  transition: .3s;
}

.sidenavR a.user-icon {
  color: #ffffff !important;
  margin-left: -5px;
  margin-bottom: 14px;
}

.sidenavR a.user-icon p {
  margin: 0;
}

.sidenavR a.user-icon .pull-left {
  margin: 0 10px 0 0;
}

.sidenav a:hover,
.offcanvas a:focus,
.sidenavR a:hover,
.offcanvas a:focus {
  color: #000;
}

.sidenav .closebtn,
.sidenavR .closebtn {
  font-size: 36px;
  color: #fff !important;
  margin-left: 50px;
  position: absolute;
  right: 25px;
  top: 0;
  border-bottom: 0;
}

.nav-link span {
  padding-right: 10px;
  display: inline-block;
}

@media screen and max-height 450px {

  .sidenav,
  .sidenavR {
    padding-top: 15px;
  }

  .sidenav a,
  .sidenavR a {
    font-size: 18px;
  }
}

.location {
  margin: 30px 0 0 30px;
}

.location a {
  color: #333;
  font-size: 16px;
}

.location a .glyphicon {
  color: #f7941d;
  font-size: 15px;
}

.btn {
  border-radius: 0;
  border: 0;
  padding: 10px 20px;
}

.btn-primary {
  background-color: #6fa52d;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .20);
}

.btn-primary:hover {
  background-color: #6fa52d;
  box-shadow: 0 1px 14px 0 rgba(0, 0, 0, .30);
}

.mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
  background-color: #6fa52d !important;
}

.well {
  border-radius: 0;
  box-shadow: none;
}

.heading {
  margin-top: 0;
  margin-bottom: 35px;
  padding: 20px 0 15px;
}

.heading .page-header {
  margin: 0 0 0 2px;
  border: 0;
  color: #fff;
  font-size: 120%;
}

.breadcrumb-container {
  margin-top: 74px;
  padding: 5px 15px;
  list-style: none;
  background-color: #f5f5f5;
}

.breadcrumb {
  padding: 5px 22px;
  margin-bottom: 0;
  background-color: #060606;
  border-radius: 0;
  margin: -12px -22px 20px -22px;
}

.breadcrumb li,
.breadcrumb li a {
  font-size: 11px;
  color: #eee;
  cursor: pointer;
}

.breadcrumb li a:hover {
  color: #f39c12;
}

.box-item {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 25px;
  box-shadow: 0 3px 15px 0 rgba(40, 44, 63, .1);
  border: 1px solid rgba(0, 0, 0, .04);
}

.marginTop {
  margin: 100px;
}

.marTop15 {
  margin-top: 15px;
}

.navbar-fixed-top {
  z-index: 1;
}

.action-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.action-items li {
  display: inline-block;
  text-align: center;
}

.action-items li a {
  display: inline-block;
  padding: 5px 20px;
  cursor: pointer;
  position: relative;
}

.action-items li a span,
.action-items li a i {
  display: inline-block;
}

.action-items li a span {
  position: relative;
  top: 3px;
}

.action-items li.b-right {
  border-right: 1px solid #ddd;
}

.action-items li.b-bottom {
  border-bottom: 1px solid #ddd;
}

.no-space {
  margin: 0 !important;
}

.form-container .mat-form-field-infix {
  width: 100% !important;
}

.form-container .mat-form-field-label {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #151f5a !important;
}

.form-container.mat-form-field {
  display: block !important;

}

.form-container .mat-form-field-infix {
  font-size: 16px !important;
}

.stime {
  position: absolute;
  right: 0;
  font-size: 13px;
  background: none;
  border: 0;
  padding: 5px;
  color: #f7941d;
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  font-size: 24px !important;
  color: #f7941d;
}

.mat-dialog-actions {
  margin-bottom: -15px !important;
}

/*--- Footer ---*/
.play-store {
  background: #da3939;
  height: 60px;
  margin-top: 70px;
}

.app-logo {
  position: absolute;
  top: -22px;
}

.order-today {
  color: #fff;
  font-family: 'Cantata One', serif;
  font-size: 18px;
  margin-top: 18px;
}

.app-store {
  margin-top: 10px;
}

footer {
  background: #212124;
  padding: 50px 0;
  position: relative;
}

.footer-content {
  margin-top: 33px;
}

.footer-txt h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.footer-txt p {
  color: #696969;
  font-size: 16px;
}

.link-more {
  color: #f7941d;
  font-size: 14px;
  margin-top: 15px;
}

.alt-col {
  padding: 0 40px;
  border-left: 1px solid #434344;
  border-right: 1px solid #434344;
}

.social-list {
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.social-list li {
  float: left;
  margin-left: 35px;
  list-style-type: none;
}

.social-list li:first-child {
  margin-left: 0
}

.contact-info {
  border-bottom: 1px solid #434344;
  margin-bottom: 15px;
  display: inline-block
}

.contact-info span {
  color: #727272;
  font-size: 14px;
  display: block
}

.contact-info a {
  color: #727272;
  text-transform: inherit
}

.contact-info a:hover,
.contact-info a:focus,
.footer-link li a:hover,
.footer-link li a:focus {
  color: #f7941d;
}

.footer-link {
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
  list-style-type: none;
}

.footer-link li {
  margin-bottom: 7px;
}

.footer-link li a {
  color: #727272;
  font-size: 14px;
}

.copyright {
  background: #3b3b3f;
  padding: 14px 10px;
}

.copyright p {
  margin: 0;
  color: #747474;
  font-size: 11px;
  font-weight: 300;
}


.well.mall-devices {
  display: none;
}

.media-body h4,
.media-body p,
.panel-info h4 {
  margin: 0 0 5px;
}

.price {
  color: #f7941d;
}

.mat-card.validate-otp {
  box-shadow: none !important;
  text-align: center;
}

.validate-otp .mat-form-field {
  display: block;
}

.otp-link {
  display: inline-block;
  margin: 15px 10px;
}

.validate-otp .mat-form-field-infix {
  text-align: center;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: 17px !important;
  right: 3px !important;
}

/* TABLET LAYOUT (LANDSCAPE/992PX) 
----------------------------------------------- */
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .social-list li {
    margin-left: 24px;
  }
}

/* TABLET LAYOUT (PORTRAIT/768PX) 
----------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .no-glitter {
    padding-left: 15px;
    padding-right: 15px;
  }

  .alt-col {
    padding: 0 10px
  }

  .social-list li {
    margin-left: 10px;
  }

  .app-store img {
    width: 40%
  }

  .navbar-collapse {
    margin: 0;
    padding: 0
  }

  .filter-top label {
    margin-right: 12px
  }

  .filter-top .custom-ddl {
    margin-right: 22px;
  }

  .item-cart .btn-cart {
    padding: 0 20px;
  }

  .order-today {
    text-align: center;
  }
}


/* MOBILE LAYOUT (PORTRAIT/320PX) 
----------------------------------------------- */
@media only screen and (max-width: 767px) {
  .navbar-toggle {
    margin-right: 45px;
    margin-top: 20px;
  }

  .well,
  .login-container .login-left {
    display: none;
  }

  .cdk-overlay-pane {
    width: 100% !important;
  }


  .sidenavR.open-nav {
    width: 70%;
  }

  .well.mall-devices {
    display: block;
  }

  .order-today {
    text-align: center;
  }

  .no-glitter {
    padding-left: 15px;
    padding-right: 15px;
  }

  .alt-col {
    padding: 15px 10px;
    border: 0;
    border-top: 1px solid #434344;
    border-bottom: 1px solid #434344;
  }

  .play-store {
    height: auto;
    padding-bottom: 30px;
  }

  .app-store {
    text-align: center
  }

  .filter-top label {
    display: block;
    margin-bottom: 10px;
  }


  .advertise-container {
    margin: 10px;
  }

  .play-store {
    margin-top: 20px;
  }

  footer {
    padding: 20px 0
  }

  .navbar-nav>li {
    margin: 0 0 0 10px
  }

  .navbar-default .open .dropdown-menu {
    position: absolute;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }

  .user-link {
    display: none;
  }
}

@media only screen and (orientation: landscape) {
  .form-inner .form-control {
    width: 70%
  }
}
