<div class="book-tables wh-bg history">
    <h4 class="media-heading">Subject List For Class {{classDetail.displayName}}</h4>
  <div class="media-body">
    <div class="order-history">
      <div class="history-head">
        <span>{{classDetail.displayName}}</span>
        <div class="pull-right right-btn">
          <a class="action-link" (click)="addSubjectDetails()">
            <span class="glyphicon glyphicon-plus-sign green-icon"></span>
            <span class="txt">Add Subject</span>
          </a>
        </div>
      </div>
      <!--div class="history-body">
        <div class="media-left">
          <img class="person-card-avatar bigPicture" src="{{classDetail.icon?classDetail.icon:'assets/images/class.jpg'}}">
          <span>{{classDetail.description}}</span>
        </div>
      </div-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let subject of subjectList">
      <div class="media-body">
        <div class="order-history">
          <div class="history-head">
            <span>
              <strong>{{subject.displayName}}</strong>
            </span>
            <span><a (click)="markFavorites(subject)" *ngIf="subject.type=='NOT_FAVORTIE'"><i class="material-icons">favorite_border</i></a></span>
            <span><a (click)="removeFavorites(subject)"  *ngIf="subject.type=='FAVORTIE'"><i class="material-icons">favorite</i></a></span>
          </div>
          <!--div class="history-body">
          <div class="media-left">
            <img class="person-card-avatar bigPicture" src="{{subject.icon?subject.icon:'assets/images/class.jpg'}}">
            <a id="photoSelector" mat-icon-button (click)='onChangeImage(subject)'>
              <mat-icon>photo_camera</mat-icon> Edit image
            </a>
          </div-->
          <!--div class="media-left">
              <span>{{subject.description}}</span>
            </div>
        </div-->
          <div class="history-foot">
            <div class="pull-right">
              <a class="action-link" (click)="viewChapterList(subject)">
                <span class="glyphicon glyphicon-plus-sign green-icon"></span>
                <span class="txt">chapters</span>
              </a>
              <a class="action-link" (click)="editSubjectDetail(subject)">
                <span class="glyphicon glyphicon-plus-sign green-icon"></span>
                <span class="txt">EDIT</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>