<div class="book-tables wh-bg history">
  <h4 class="media-heading">Topic List For Chapter {{chapter.displayName}}</h4>
  <div class="media-body">
    <div class="order-history">
      <div class="history-head">
        <span>{{classSetupDetail.displayName}}>>{{subjectDetail.displayName}} >> {{chapter.displayName}} </span>
        <div class="pull-right right-btn">
          <a class="action-link" (click)="addTopicDetails()">
            <span class="glyphicon glyphicon-plus-sign green-icon"></span>
            <span class="txt">Add Topic</span>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid padd-15">
    <div class="book-tables wh-bg history">
      <h4 class="media-heading">
        <strong>Topic List</strong>
      </h4>
      <div class="media">
        <div class="row">
          <div class="media-body" *ngFor="let topic of topics">
            <div class="col-md-4">
              <div class="history-head">
                <span>{{topic.displayName}}</span>
                <span><a (click)="markFavorites(topic)" *ngIf="topic.type=='NOT_FAVORTIE'" class="pull-right" color="accent"><i
                      class="material-icons">favorite_border</i></a></span>
                <span><a (click)="removeFavorites(topic)" *ngIf="topic.type=='FAVORTIE'" class="pull-right" color="accent"><i
                      class="material-icons">favorite</i></a></span>
                <div class="pull-right hostOrderLink">
                  <a (click)="userWorkSpace(topic)">WorkSpace</a>
                </div>
              </div>
              <mat-card (click)="playLessonForTopic(topic)"> 
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                  alt="Photo of a Shiba Inu">
                </mat-card>
              <div class="history-foot">
                <div class="pull-right">
                  <a class="action-link" (click)="editChapterDetail(topic)">
                    <span class="glyphicon glyphicon-plus-sign green-icon"></span>
                    <span class="txt">EDIT</span>
                  </a>
                  <a class="action-link" (click)="deleteChapterDetail(topic)">
                    <span class="glyphicon glyphicon-plus-sign green-icon"></span>
                    <span class="txt">DELETE</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>