@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
 @charset "utf-8";
/* CSS Document */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix::after,.clearfix:after{clear:both;content:" ";visibility:hidden}
a { border:0; outline:none; -webkit-transition: all 200s ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; color:#1b1b1b; text-decoration:none; }
a:hover, a:focus{text-decoration:none; color:#0174e7;  outline-style: none;}
img{max-width:100%;}
body  {
	-ms-overflow-style: scrollbar;
    padding: 0;
    margin: 0;
	font-family: 'Roboto', sans-serif; 
	font-size:14px;
	font-weight:300;
	line-height:20px;
	background-color: #eaeff4; 
}
 
a{
	text-decoration:none;
}  
.top-header{ background:#fff; height:75px;  }
.login-info{ float:right; list-style-type:none; margin:0; padding:0;}
.login-info li{margin-left:25px; display:inline-block}
.login-info li a{font-size:20px;}

.info{color:#fdb812;}
.search-container{background:#0f048e; padding:30px 0;}

.home-search{ margin-right:50px;}
.home-search select.form-control, .select-class select.form-control{background:#a09fd7; height:50px; border:0; color:#000; font-size:18px;}
.home-search label{color:#fff; font-size:18px; font-weight:600;}

.btn-search{background:#fdb913; color:#fff;  padding:10px 50px; font-size:18px;}

.user-details{background:#f3f7ff; border:1px dashed #929292; border-radius:5px; margin-left:50px; position:relative}
.user-av{width:80px; height:80px; border-radius:50%; background:#fff; overflow:hidden; display:block; margin:0 auto;}
.user-details p, .user-details strong, .user-details small{display:block; color:#5c5c5c;	}
.user-details strong{font-size:18px;  margin:17px 0 10px 0;}
.user-details small{font-size:14px;}
.user-details p{font-size:16px; font-weight:400;}

.edit-info{position:absolute; right:15px; top:15px; width:40px; height:36px;border:1px solid #d6d6d6; color:#002d88; border-radius:5px; background:#fff;}

.small-title{color:#0f0690; font-size:24px;}
.result-list .card-body{padding-bottom:0}
.result-list .card-header{background:#fff;  color:#002d88; padding-left:12px; font-weight:600; position:relative}


.card-body ol{padding:0 5px; margin-bottom:0}
.card-body ol li{float:left; margin-right:40px; margin-bottom:12px;}

.action{position:absolute; right:15px; top:15px;}
.action a{margin-left:20px; font-size:18px;color:#002d88;}
.action a.active{color:#ff50d6;}

.load-more{ float:right; margin-top:15px; text-decoration:underline;}
.load-more:hover, .load-more:focus{color:#002d88;}

.recent-search{margin-bottom:30px;}

.footer-container .container, .footer-container .container-fluid{border-top:1px solid #d5d5d5; padding-bottom:15px; padding-top:15px;}
.footer-container .form-control,  .footer-container .form-control{background:none; width:150px; border:0; padding:0; height:auto;}
.footer-container .form-control:focus, .footer-container .form-control:focus{box-shadow:none;}
.footer-container a{font-weight:500;}

.topics h4{font-size:20px;color:#002d88;}
.logo {float:left; width:205px;}

.search{float:left; margin-left:30px; margin-top:8px; width:50%}
.search input[type='text']{ border:0; background:none; width:80%}
.search i{margin-right:5px; color:#002d88;}



.left-menu{width:220px; float:left; background:#fff;}
.body-content{margin-left:219px;}

.select-class{background:#003c78; padding:20px;}
.select-class label{color:#fff;}
.select-class select.form-control{background:#99b1c9; height:32px; font-size:16px;}


.class-list{margin:0; padding:0; list-style-type:none;}
.class-list li{}
.class-list li i{margin-right:10px;}
.class-list li a{display:block; width:100%; min-height:50px;  padding:0 20px;}
.class-list li a.green{ background:#c0f2d9;color:#005f34;}
.class-list li a.org{background:#edead6;color:#6d5514;}
.class-list li a.red{background:#fd1746; color:#fff;}

.class-list li a.pink{background:#dcd2f5;color:#59005f;}
.class-list li a.sky{background:#cedff5;color:#2c435e;}
.class-list li a.org2{background:#ecdddb;color:#514144;}
.class-list li a.yellow{background:#e0f3ff;color:#002960;}
.class-list li a:hover, .class-list li a:focus{background:#fd1746; color:#fff;}


.breadcrumb{  margin-bottom:0}
.breadcrumb-item+.breadcrumb-item::before{    content: ">"; }

.content-area{}
.primary-action .btn{border-color:#000;}

.mid-tittle{font-size:20px;color:#002d88;}

.lesson-list{-webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.56);
-moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.56);
box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.56); background:#fff; padding:20px;}

.panel{border:1px solid #dddddd; margin-bottom:10px;}
.panel-title{margin-bottom:0; position:relative}
.panel-heading{position:relative}
.panel-heading .action{top:9px;}
.panel-heading .action .fa-heart{color:#5a4c4c;}
.panel-title>a{padding:14px 20px;}
.panel-title>a, .panel-title>a:active{display:block; color:#002d88; font-size:16px; font-weight:bold; }
.panel-heading.active{background:#fef9eb;border-bottom:1px solid #dddddd; }
.panel-title  a:before {  font-family: "Font Awesome 5 Free";  content: "\f105"; float: left; margin-right:20px; transition: all 0.5s;}
.panel-title.active a:before {-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);transform: rotate(90deg);} 
.panel-body{padding:20px;}

.list-item{margin:0; padding:0; list-style-type:none;}
.list-item li {margin-bottom:10px;}
.list-item li i{margin-right:10px;}
.list-item li i.active{color:#ff50d6; margin-left:10px;}

/* TABLET LAYOUT (LANDSCAPE/992PX) ----------------------------------------------- */
@media only screen and (min-width: 992px) and (max-width: 1279px) {
	 
}

/* TABLET LAYOUT (PORTRAIT/768PX) ----------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	 
}


/* MOBILE LAYOUT (PORTRAIT/320PX) ----------------------------------------------- */
@media only screen and (max-width: 767px) { 
	.home-search{margin-right:0} 
	.user-details{margin-left:0; margin-top:15px;}
	.btn-search{width:100%;}
	.result-list.odd, .mb-15{margin-top:15px;}
	.footer-container .form-control{width:100%; background:#ccc; padding:5px;}
	.footer-container p{text-align:center; margin-top:15px;}
	
}	 

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
	padding: 2px 16px;
  }
  .example-full-width {
	width: 100%;
  }
  .example-button-row button,
  .example-button-row a {
	margin-right: 8px;
  }