<section class="main-wrapper">
    <div class="left-menu">
        <div class="select-class">
            <div class="form-group">
                <label for="exampleInputEmail1">Select a Class</label>
                <select class="form-control" (change)="onClassChange($event.target.value)">
                    <option value="">Select</option>
                    <option [value]="classSetup" *ngFor="let class of classList">{{class.displayName}}</option>
                </select>
            </div>
        </div>
        <ul class="class-list">
            <li><a href="#" class="d-flex justify-content-start align-items-center green" *ngFor="let subject of SubjectSetupDetail"
                    (click)="viewChapterList(subject)"><i class="fas fa-search"></i>
                    {{subject.displayName}}</a></li>
        </ul>
    </div>
    <div class="body-content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Class</a></li>
                <li class="breadcrumb-item active" aria-current="page">Subject</li>
            </ol>
        </nav>
        <div class="content-area">
            <div class="primary-action mb-3">
                <div class="row clearfix">
                    <div class="col-md-7 col-lg-6">
                        <h3 class="mid-tittle">Computer Science</h3>
                    </div>
                    <div class="col-md-5 col-lg-6 text-right">
                        <button type="button" class="btn btn-warning">Add Subject</button>
                        <button type="button" class="btn btn-warning">Add Chapter</button>
                        <button type="button" class="btn btn-warning">Add Topic</button>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="lesson-list">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <mat-expansion-panel *ngFor="let chapter of chapterList">
                                <mat-expansion-panel-header>
                                    <a (click)="showTopicList(chapter)">
                                        <mat-panel-title><i class="material-icons">folder</i> {{chapter.displayName}}</mat-panel-title>
                                    </a>
                                </mat-expansion-panel-header>
                                <ul class="listItems" *ngIf="topicList.length>0">
                                        <li *ngFor="let topic of topicList">
                                            <a (click)="playTopic(topic)">{{topic.displayName}}</a>
                                        </li>
                                    </ul>
                            </mat-expansion-panel>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>